*,
*:after,
*::before {
  box-sizing: border-box;
}
:root {
  --color-purple-0: rgb(96 110 247);
  --color-gray-detail-font: rgb(167 167 167);
  font-family: 'Roboto', sans-serif;
}
a {
  text-decoration: none;
}
button {
  border: none;
  font-family: inherit;
  cursor: pointer;
}

ul {
  padding: 0;
}
